body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 100px auto 50px;
  grid-template-columns: 3fr 1fr; /* 2칸으로 나눠서 왼쪽 오른쪽 3:1  비율로 */
  grid-template-areas: "header header" "main side" "footer footer";
  /**/
}

header {
  background-color: #000;
  grid-area: header;
}
main {
  background-color: #fff;
  grid-area: main;
}
aside {
  background-color: orange;
  grid-area: side;
}
.footer {
  background-color: black;
  grid-area: footer;
}
