<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>
        Document
    </title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        .container {
            max-width: 500px;
            margin: 0 auto;
            /*사각형 화면 가운데 정렬*/
        }

        input {
            width: 100%;
            outline: none;
            padding: 10px 20px;
        }
    </style>
</head>

<body>
    <h1>회원 상세 보기 페이지</h1>
    <p>회원 번호 : <%= result[0].reg_id %>
    </p>
    <p>회원 이름 : <%= result[0].username %>
    </p>
    <p>회원 비밀번호 : <%= result[0].passwd %>
    </p>
    <p>회원 등록일 : <%= result[0].regdate %>
    </p>
    <a href="/">목록으로</a>
    <a href="/addUser">추가</a>
    <a href="/upUser">수정</a>
    <a href="/delUser">삭제</a>
</body>

</html>