/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

select,
input[type="text"] {
  border: 1px solid #555;
  width: 100px;
  padding: 6px 4px;
  margin-bottom: 10px;
}

form {
  padding: 20px;
}
