.reg_form_wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg_form {
  background-color: whitesmoke;
  opacity: 0.9;
  border: 1px solid gainsboro;
  border-radius: 15px;
  padding: 80px 50px;
  width: 500px;
  justify-content: center;
  margin-top: 100px;
}

input {
  width: 400px;
  height: 35px;
}
.row_box_title {
  margin-bottom: 40px;
}

.row_box {
  margin-bottom: 20px;
}

.email_id,
.email_domain {
  width: 185px;
}

.select_email {
  width: 185px;
  height: 35px;
  margin-top: 10px;
}

.reg_submit {
  margin-top: 60px;
}
.reg_submit input {
  height: 50px;
  border: none;
  background-color: #aebdca;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.reg_submit input:hover {
  background-color: rgb(133, 133, 135);
  color: white;
}
