<div class="header">
    <a href="main">
        <h1>
            Main
        </h1>
    </a>
    <ul>
        <a href="register">
            <li>
                <h3>회원가입</h3>
            </li>
        </a>
        <a href="regManage">
            <li>
                <h3>회원 관리</h3>
            </li>
        </a>
        <a href="boardManage">
            <li>
                <h3>게시판 관리</h3>
            </li>
        </a>
        <a href="boardWrite">
            <li>
                <h3>게시글 작성</h3>
            </li>
        </a>
    </ul>
</div>
<hr />