<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome~~~~</title>
</head>

<body>
    <h1>Hello World :)</h1>
    <table border="1">
        <tr>
            <td>번호</td>
            <td>아이디</td>
            <td>이름</td>
            <td>비밀번호</td>
            <td>전화번호</td>
            <td>이메일</td>
            <td>접근권한</td>
            <td>수정/삭제</td>
        </tr>
        <tr>
            <td>5</td>
            <td>coco</td>
            <td><a href="/getUser/5">yujin</a></td>
            <td>******</td>
            <td>010-0000-0000</td>
            <td>email@email.com</td>
            <td>
                <select name="" id="">
                    <option value="">최고관리자</option>
                    <option value="">부사장</option>
                    <option value="">사원</option>
                    <option value="">guest</option>
                </select>
            </td>
            <td>수정/<a href="#" onclick="return confirm('삭제하시겠습니까?');">삭제</a></td>
        </tr>
    </table>
</body>

</html>