<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload List - Users</title>
</head>

<body>
    <%=status %>/ <%=message %>
            <h1>File Upload List - Users</h1>
            <a href="/add">Add User</a>
            <table border="1" style="width:100%">
                <tr>
                    <td>No.</td>
                    <td>Image.</td>
                    <td>Username.</td>
                    <td>Email.</td>
                    <td>Phone.</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="/delete" onclick="return confirm('Delete?');">Delete</a>
                    </td>
                </tr>
            </table>
</body>

</html>